/* Default ----------------------------------------------------------------------- */
*{
   margin: 0; padding: 0; box-sizing: border-box;
}
body{
   font-family: Arial, Helvetica, sans-serif; font-size: 16px;
}
/* Variables ----------------------------------------------------------------------- */
:root{
   --fontColorDark: #333;
   --fontColor: rgba(128, 128, 128, 1);
   --fontHover: #fff;
   --headerColor: rgba(99, 65, 165, 0.7);
   --navHover: rgba(99, 65, 165, 0.9);
   --bttnBackColor: rgba(125, 91, 190, 1);
   --titleColor: rgba(140, 67, 255, 1);
   --fontP: .95rem;
}
/* Main ------------------------------------------------------------ */
main{
   display: grid; grid-template-columns: minmax(240px, 1fr); grid-gap: 50px;
}
/* Header ----------------------------------------------------------------------- */
header{
   width: 100%; background-color: var(--headerColor); height: 60px; position: fixed; top: 0; transition: ease-in-out 300ms; z-index: 5;
}
nav{
   margin: 0 auto; max-width: 960px; padding: 0 20px; height: 100%;
}
.nav-icon{
   display: flex; justify-content: space-between; align-items: center; height: 100%;
}
#logo{
   width: 100px; transition: ease-in-out 300ms;
}
#burger{
   width: 40px; cursor: pointer;
}
#nav{
   display: none; list-style: none;
}
#nav-mobile{
   width: 0; display: flex; list-style: none; flex-direction: column; transition: ease-in-out 500ms; position: absolute; right: 0; overflow: hidden; background-color: transparent;
}
#nav-mobile a{
   color: var(--fontColorDark); text-decoration: none; font-weight: 400; font-size: .95rem; padding: 10px 20px; display: block; background-color: var(--headerColor); border-top: solid var(--bttnBackColor) 1px;
}
#nav-mobile a:hover{
   color: var(--fontHover); background: var(--navHover);
}
/* Banner ----------------------------------------------------------------------- */
.banner{
  width: 100%; height: 100vh;
}
.banner-wrap{ 
   margin: 0 auto; max-width: 960px; height: 100%; display: flex; flex-direction: column; margin-top: 30px; padding: 0 3px; justify-content: center; align-content: center; text-align: center;
}
/* .banner-image{
    background-image: url('images/banner.png'); background-position: center; background-size: cover; background-repeat: no-repeat; width: 100%; height: 100%;
} */
.banner-wrap h1{
   color: #333; font-size: 2rem; margin: 50px 0;
}
.banner-wrap img{
  width: 100%; height: auto; margin: 20px 0;
}
/* Portfolio ----------------------------------------------------------------------- */
.portfolio{
   padding: 20px; width: 100%; text-align: center;
}
.portfolio h1{
   margin-bottom: 60px; font-size: 1.7rem; color: var(--fontColorDark);
}
.portfolio-wrap{
   margin: 0 auto; max-width: 960px; display: grid; grid-gap: 20px; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
/* .portfolio-box-container{
   width: 100%; height: 240px; border-radius: 20px; overflow: hidden;
} */
.portfolio-box{
   /*background: url('images/angcoffee.jpg'); background-position: center; background-size: cover; background-repeat: no-repeat; */width: 100%; height: 210px; border-radius: 20px; position: relative; overflow: hidden;
}
.portfolio-back{
  background-image: url("images/shakkyscafe.png"); background-position: center; background-size: cover; background-repeat: no-repeat; transition: ease-in-out 300ms; width: 100%; height: 100%;
}
/* .portfolio-box img{
   width: 100%; height: 100%; transition: ease-in-out 300ms;
} */
.portfolio-box:hover .portfolio-back{
   transform: scale(1.3);
}
.portfolio-overlay{
   width: 100%; height: 100%; display: flex;  flex-direction: column; justify-content: space-between; align-items: center; text-align: center; padding: 40px 20px; border-radius: 20px; background: rgba(41, 51, 71, 1); /* Hide*/ opacity: 0; transition: ease-in-out 300ms; position: absolute; top: 0;
}
/* .m-fadeOut {
   visibility: hidden;
   opacity: 0;
   transition: visibility 0s linear 300ms, opacity 300ms;
 }
 .m-fadeIn {
   visibility: visible;
   opacity: 1;
   transition: visibility 0s linear 0s, opacity 300ms;
 } */
.portfolio-overlay p{
   color: #fff; font-size: 1.5rem;
}
.portfolio-overlay a{
   text-decoration: none; color: #fff; font-size: 1.3rem; padding: 5px 15px; border: solid 3px var(--bttnBackColor); border-radius: 100px;
}
.portfolio-overlay a:hover{
   background: var(--bttnBackColor);
}
/* Skills ----------------------------------------------------------------------- */
.skills{
   padding: 20px;
}
.skills-wrap{
   display: grid; grid-template-columns: 1fr; text-align: center; max-width: 960px; margin: 0 auto; box-shadow: rgba(233, 240, 243, 0.5) 0px 5px 5px 0px, rgb(225, 225, 225) 0px 0px 0px 1px; border-radius: 10px;
}
.skills-box{
   padding: 60px 30px; /*border: solid var(--fontColor) 1px; border-radius: 20px;*/
}
.skills-box h1{
   font-size: 1.3rem; color: #333; margin: 20px 0;
}
.skills-box p{
   color: var(--fontColor); font-size: var(--fontP); font-weight: 400;
}
.skills-box h2{
   color: var(--titleColor); font-size: 1.2rem; font-weight: 400; margin: 50px 0 20px 0;
}
.skills-box h3{
   color: #333; font-size: 1rem; font-weight: 400; margin: 15px 0;
}
/* About ----------------------------------------------------------------------- */
.about{
   padding: 20px;
}
.about-wrap{
   display: grid; grid-template-columns: 1fr; grid-gap: 40px;max-width: 960px; margin: 0 auto;
}
.about-img{
   border-radius: 20px; display: flex; align-items: center; justify-content: center;
}
.about-img img{
   border-radius: 20px;
}
.about-text{
   display: grid; grid-template-columns: 1fr; grid-gap: 30px;
}
.about-box h2{
   color: var(--titleColor); font-size: 1.2rem; font-weight: 400; margin: 10px 0;
}
.about-box p{
   color: var(--fontColor); font-size: var(--fontP); font-weight: 400;
}
/* Footer ----------------------------------------------------------------------- */
footer{
   background-color: #222; width: 100%; padding: 20px;
}
.footer-wrap{
   margin: 0 30px; max-width: 960px; margin: 0 auto;
}
footer .social{
   margin: 0 0 10px 0;
}
footer .social img{
   width: 30px; margin: 0 10px 0 0;
}
.footer-info{
   text-align: center;
}
#footer-logo{
   width: 120px; padding: 5px;
}
footer p{
   color: #fff; font-size: 1rem; margin: 10px 0;
}
/* Media Query (Tablet) ----------------------------------------------------------------------- */
@media(min-width: 700px){
   /* Main ------------------------------------------------------------ */
   main{
      grid-gap: 60px;
   }
   /* Header ------------------------------------------------------------ */
   #burger{
      display: none;
   }
   nav{
      display: flex; justify-content: space-between; align-items: center;
   }
   #nav-mobile{
      display: none;
   }
   #nav{
      width: auto; display: flex; flex-direction: row;
   }
   #nav a{
      color: var(--fontColorDark); text-decoration: none; font-weight: 400; font-size: .9rem; padding: 20px 15px; display: block; background-color: transparent; border-bottom: solid transparent .2rem; letter-spacing: 1px;
   }
   #nav a:hover{
      color: var(--fontHover);
   }
   /* Banner ------------------------------------------------------------ */
   .banner-wrap{
      padding: 0 20px;
   }
   /* About ------------------------------------------------------------ */
   .about-title{
      grid-column: 1/3;
   }
   .about-wrap{
      grid-template-columns: 1fr 2fr;
   }
   /* Skills ------------------------------------------------------------ */
   .skills-wrap{
      grid-template-columns: 1fr 1fr;
   }
   .skills-box{
      padding: 70px 50px;
   }
}
/* Media Query (Web) ----------------------------------------------------------------------- */
@media(min-width: 960px){
   /* Banner ------------------------------------------------------------ */
   .banner-wrap{
      padding: 0;
   }
   /* Skills ----------------------------------------------------------------------- */
   nav{
      padding: 0;
   }
}




